body {
    font-family: "Courier New", Courier, monospace;
    background-color: black;
}

#main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

#left {
    width: 50%;
    font-style: bold;
    color: white;
    font-size: 30;
}

#right {
    color: white;
    width: 50%;
    margin-left: 15%;
    margin-top: 5%;
}

#right h5 {
    font-size: 25;
    margin: 5;
}

#text-controls {
    background-color: rgb(45, 45, 45);
    border: 2px solid grey;
}

div {
  white-space: pre;      /* preserves spaces and line breaks */
  /* or use: pre-wrap to wrap long lines */
}